* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(90deg, #003249, #007ea7, #9c80f8);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
